{
  "appdynamics":
  {
    "username": "usernamegoeshere@accountgoeshere",
    "password": "passwordgoeshere",
    "application_name": "applicationnamegoeshere",
    "load_test_length_min": 60,
    "load_test_start_ms": 1436454422,
    "load_test_end_ms": 1436540822
  },
  "blazemeter":
  {
    "api": "apikeygoeshere",
    "test_id": "testidgoeshere"
  },
  "promotion_gates":
  {
    "response_time_avg": 230,
    "response_time_max": 1000000,
    "response_time_stdev": 10000000,
    "response_time_tp90": 590,
    "response_time_tp95": 590,
    "response_time_tp99": 590,
    "transaction_rate": 80,
    "warning": false,
    "critical": true
  }
}
