{
  "appdynamics":
  {
    "username": "usernamegoeshere@accountgoeshere",
    "password": "passwordgoeshere",
    "application_name": "applicationnamegoeshere",
    "load_test_length_min": 60
  },
  "blazemeter":
  {
    "api": "apikeygoeshere",
    "test_id": "testidgoeshere"
  },
  "webpagetest":
  {
    "url": "applicationurlgoeshere",
    "location": "locationgoeshere",
    "runs": 2,
    "api": "apikeygoeshere"
  },
  "promotion_gates":
  {
    "response_time_avg": 500,
    "response_time_max": 2000,
    "response_time_stdev": 100,
    "response_time_tp99": 700,
    "transaction_rate": 1,
    "latency_max": 40,
    "latency_avg": 40,
    "latency_stdev": 40,
    "bandwidth_avg": 800000,
    "critical": true,
    "warning": true,
    "first_view":
    {
      "speed_index": 1400,
      "first_paint": 1200,
      "first_byte": 300,
      "fully_loaded": 1900,
      "visual_complete": 2000,
      "start_render": 1700,
      "last_visual_change": 1700,
      "title_time": 1000,
      "page_size": 25000
    },
    "repeat_view":
    {
      "speed_index": 300,
      "first_paint": 1200,
      "first_byte": 300,
      "fully_loaded": 1900,
      "visual_complete": 2000,
      "start_render": 1700,
      "last_visual_change": 1700,
      "title_time": 1000,
      "page_size": 25000
    }
  },
  "elastic_kibana":
  {
    "elastic_server": "serverwithportgoeshere",
    "index": "elasticindexgoeshere"
  }
}
