{
    "appdynamics": {
        "healthrule_violations": [
            {
                "description": "Memory utilization is too high",
                "id": 1268831,
                "incidentStatus": "OPEN",
                "name": "Memory utilization is too high",
                "severity": "CRITICAL"
            }
        ]
    },
    "blazemeter": {
        "transactions": [
            {
                "response_time_avg": 223,
                "response_time_avg_passed": true,
                "response_time_max": 545,
                "response_time_max_passed": true,
                "response_time_stdev": 92.714615891994,
                "response_time_stdev_passed": true,
                "response_time_tp90": 352,
                "response_time_tp90_passed": true,
                "response_time_tp95": 377,
                "response_time_tp95_passed": true,
                "response_time_tp99": 396,
                "response_time_tp99_passed": true,
                "transaction_id": "ALL",
                "transaction_name": "ALL",
                "transaction_rate": 342.34355828220856,
                "transaction_rate_passed": true
            },
            {
                "response_time_avg": 249,
                "response_time_avg_passed": false,
                "response_time_max": 402,
                "response_time_max_passed": true,
                "response_time_stdev": 88.780628517712,
                "response_time_stdev_passed": true,
                "response_time_tp90": 371,
                "response_time_tp90_passed": true,
                "response_time_tp95": 386,
                "response_time_tp95_passed": true,
                "response_time_tp99": 398,
                "response_time_tp99_passed": true,
                "transaction_id": "arbitrary1",
                "transaction_name": "arbitrary1",
                "transaction_rate": 4.961775585696671,
                "transaction_rate_passed": false
            },
            {
                "response_time_avg": 248,
                "response_time_avg_passed": false,
                "response_time_max": 401,
                "response_time_max_passed": true,
                "response_time_stdev": 87.704047797123,
                "response_time_stdev_passed": true,
                "response_time_tp90": 370,
                "response_time_tp90_passed": true,
                "response_time_tp95": 386,
                "response_time_tp95_passed": true,
                "response_time_tp99": 398,
                "response_time_tp99_passed": true,
                "transaction_id": "arbitrary10",
                "transaction_name": "arbitrary10",
                "transaction_rate": 4.885608856088561,
                "transaction_rate_passed": false
            },
            {
                "response_time_avg": 249,
                "response_time_avg_passed": false,
                "response_time_max": 401,
                "response_time_max_passed": true,
                "response_time_stdev": 86.660256173173,
                "response_time_stdev_passed": true,
                "response_time_tp90": 369,
                "response_time_tp90_passed": true,
                "response_time_tp95": 384,
                "response_time_tp95_passed": true,
                "response_time_tp99": 397,
                "response_time_tp99_passed": true,
                "transaction_id": "arbitrary2",
                "transaction_name": "arbitrary2",
                "transaction_rate": 4.773399014778325,
                "transaction_rate_passed": false
            },
            {
                "response_time_avg": 248,
                "response_time_avg_passed": false,
                "response_time_max": 400,
                "response_time_max_passed": true,
                "response_time_stdev": 88.13058492941,
                "response_time_stdev_passed": true,
                "response_time_tp90": 369,
                "response_time_tp90_passed": true,
                "response_time_tp95": 386,
                "response_time_tp95_passed": true,
                "response_time_tp99": 398,
                "response_time_tp99_passed": true,
                "transaction_id": "arbitrary3",
                "transaction_name": "arbitrary3",
                "transaction_rate": 4.860837438423645,
                "transaction_rate_passed": false
            },
            {
                "response_time_avg": 249,
                "response_time_avg_passed": false,
                "response_time_max": 401,
                "response_time_max_passed": true,
                "response_time_stdev": 88.39117603019,
                "response_time_stdev_passed": true,
                "response_time_tp90": 370,
                "response_time_tp90_passed": true,
                "response_time_tp95": 385,
                "response_time_tp95_passed": true,
                "response_time_tp99": 398,
                "response_time_tp99_passed": true,
                "transaction_id": "arbitrary4",
                "transaction_name": "arbitrary4",
                "transaction_rate": 4.7060270602706025,
                "transaction_rate_passed": false
            },
            {
                "response_time_avg": 250,
                "response_time_avg_passed": false,
                "response_time_max": 401,
                "response_time_max_passed": true,
                "response_time_stdev": 89.760793222877,
                "response_time_stdev_passed": true,
                "response_time_tp90": 372,
                "response_time_tp90_passed": true,
                "response_time_tp95": 386,
                "response_time_tp95_passed": true,
                "response_time_tp99": 398,
                "response_time_tp99_passed": true,
                "transaction_id": "arbitrary5",
                "transaction_name": "arbitrary5",
                "transaction_rate": 4.895061728395062,
                "transaction_rate_passed": false
            },
            {
                "response_time_avg": 251,
                "response_time_avg_passed": false,
                "response_time_max": 401,
                "response_time_max_passed": true,
                "response_time_stdev": 88.232647019116,
                "response_time_stdev_passed": true,
                "response_time_tp90": 371,
                "response_time_tp90_passed": true,
                "response_time_tp95": 386,
                "response_time_tp95_passed": true,
                "response_time_tp99": 397,
                "response_time_tp99_passed": true,
                "transaction_id": "arbitrary6",
                "transaction_name": "arbitrary6",
                "transaction_rate": 4.8817733990147785,
                "transaction_rate_passed": false
            },
            {
                "response_time_avg": 249,
                "response_time_avg_passed": false,
                "response_time_max": 401,
                "response_time_max_passed": true,
                "response_time_stdev": 88.848185124965,
                "response_time_stdev_passed": true,
                "response_time_tp90": 370,
                "response_time_tp90_passed": true,
                "response_time_tp95": 386,
                "response_time_tp95_passed": true,
                "response_time_tp99": 397,
                "response_time_tp99_passed": true,
                "transaction_id": "arbitrary7",
                "transaction_name": "arbitrary7",
                "transaction_rate": 4.821867321867322,
                "transaction_rate_passed": false
            },
            {
                "response_time_avg": 251,
                "response_time_avg_passed": false,
                "response_time_max": 400,
                "response_time_max_passed": true,
                "response_time_stdev": 86.498554901224,
                "response_time_stdev_passed": true,
                "response_time_tp90": 370,
                "response_time_tp90_passed": true,
                "response_time_tp95": 383,
                "response_time_tp95_passed": true,
                "response_time_tp99": 397,
                "response_time_tp99_passed": true,
                "transaction_id": "arbitrary8",
                "transaction_name": "arbitrary8",
                "transaction_rate": 4.9469790382244145,
                "transaction_rate_passed": false
            },
            {
                "response_time_avg": 250,
                "response_time_avg_passed": false,
                "response_time_max": 401,
                "response_time_max_passed": true,
                "response_time_stdev": 89.972217934205,
                "response_time_stdev_passed": true,
                "response_time_tp90": 372,
                "response_time_tp90_passed": true,
                "response_time_tp95": 387,
                "response_time_tp95_passed": true,
                "response_time_tp99": 398,
                "response_time_tp99_passed": true,
                "transaction_id": "arbitrary9",
                "transaction_name": "arbitrary9",
                "transaction_rate": 4.88929889298893,
                "transaction_rate_passed": false
            },
            {
                "response_time_avg": 200,
                "response_time_avg_passed": true,
                "response_time_max": 545,
                "response_time_max_passed": true,
                "response_time_stdev": 59.472682804797,
                "response_time_stdev_passed": true,
                "response_time_tp90": 281,
                "response_time_tp90_passed": true,
                "response_time_tp95": 291,
                "response_time_tp95_passed": true,
                "response_time_tp99": 299,
                "response_time_tp99_passed": true,
                "transaction_id": "Checkout",
                "transaction_name": "Checkout",
                "transaction_rate": 118.12638036809815,
                "transaction_rate_passed": true
            },
            {
                "response_time_avg": 249,
                "response_time_avg_passed": false,
                "response_time_max": 409,
                "response_time_max_passed": true,
                "response_time_stdev": 87.795216270592,
                "response_time_stdev_passed": true,
                "response_time_tp90": 371,
                "response_time_tp90_passed": true,
                "response_time_tp95": 386,
                "response_time_tp95_passed": true,
                "response_time_tp99": 398,
                "response_time_tp99_passed": true,
                "transaction_id": "Download",
                "transaction_name": "Download",
                "transaction_rate": 66.73341523341523,
                "transaction_rate_passed": false
            },
            {
                "response_time_avg": 250,
                "response_time_avg_passed": false,
                "response_time_max": 429,
                "response_time_max_passed": true,
                "response_time_stdev": 87.045964869143,
                "response_time_stdev_passed": true,
                "response_time_tp90": 370,
                "response_time_tp90_passed": true,
                "response_time_tp95": 386,
                "response_time_tp95_passed": true,
                "response_time_tp99": 397,
                "response_time_tp99_passed": true,
                "transaction_id": "Login",
                "transaction_name": "Login",
                "transaction_rate": 96.84662576687117,
                "transaction_rate_passed": true
            },
            {
                "response_time_avg": 0,
                "response_time_avg_passed": true,
                "response_time_max": 60,
                "response_time_max_passed": true,
                "response_time_stdev": 0,
                "response_time_stdev_passed": true,
                "response_time_tp90": 0,
                "response_time_tp90_passed": true,
                "response_time_tp95": 1,
                "response_time_tp95_passed": true,
                "response_time_tp99": 1,
                "response_time_tp99_passed": true,
                "transaction_id": "3dd3d20488edf5910f65217d26111c9c",
                "transaction_name": "only once",
                "transaction_rate": 32.89473684210526,
                "transaction_rate_passed": false
            }
        ]
    },
    "promotion_gates": {
        "appdynamics_health": false,
        "passed": false,
        "response_time_avg_passed": false,
        "response_time_max_passed": true,
        "response_time_stdev_passed": true,
        "response_time_tp90_passed": true,
        "response_time_tp95_passed": true,
        "response_time_tp99_passed": true,
        "transaction_rate_passed": false
    }
}