{
    "appdynamics": {
        "healthrule_violations": [
            {
                "description": "Memory utilization is too high",
                "endTimeInMillis": 0,
                "id": 1308993,
                "incidentStatus": "OPEN",
                "name": "Memory utilization is too high",
                "severity": "WARNING",
                "startTimeInMillis": 1438591095834
            }
        ]
    },
    "blazemeter": {
        "transactions": [
            {
                "bandwidth_avg": 757766.694235589,
                "bandwidth_avg_passed": true,
                "latency_avg": 36.049050632911,
                "latency_avg_passed": true,
                "latency_max": 1031,
                "latency_max_passed": false,
                "latency_stdev": 22.071257206338,
                "latency_stdev_passed": true,
                "response_time_avg": 463.09553006329,
                "response_time_avg_passed": true,
                "response_time_max": 1982,
                "response_time_max_passed": true,
                "response_time_stdev": 94.875812877994,
                "response_time_stdev_passed": true,
                "response_time_tp90": 654,
                "response_time_tp90_passed": true,
                "response_time_tp95": 654,
                "response_time_tp95_passed": true,
                "response_time_tp99": 654,
                "response_time_tp99_passed": true,
                "transaction_id": "ALL",
                "transaction_name": "ALL",
                "transaction_rate": 4.223893065998329,
                "transaction_rate_passed": true
            },
            {
                "bandwidth_avg": 757766.694235589,
                "bandwidth_avg_passed": true,
                "latency_avg": 36.049050632911,
                "latency_avg_passed": true,
                "latency_max": 1031,
                "latency_max_passed": false,
                "latency_stdev": 22.071257206338,
                "latency_stdev_passed": true,
                "response_time_avg": 463.09553006329,
                "response_time_avg_passed": true,
                "response_time_max": 1982,
                "response_time_max_passed": true,
                "response_time_stdev": 94.875812877994,
                "response_time_stdev_passed": true,
                "response_time_tp90": 654,
                "response_time_tp90_passed": true,
                "response_time_tp95": 654,
                "response_time_tp95_passed": true,
                "response_time_tp99": 654,
                "response_time_tp99_passed": true,
                "transaction_id": "d6ef1fea9e3bd1d2755ebb605bcd7549",
                "transaction_name": "Load Home Page",
                "transaction_rate": 4.223893065998329,
                "transaction_rate_passed": true
            }
        ]
    },
    "promotion_gates": {
        "appdynamics_health": false,
        "bandwidth_avg_passed": true,
        "first_byte_passed": true,
        "first_paint_passed": false,
        "fully_loaded_passed": true,
        "last_visual_change_passed": false,
        "latency_avg_passed": true,
        "latency_max_passed": false,
        "latency_stdev_passed": true,
        "page_size_passed": false,
        "passed": false,
        "response_time_avg_passed": true,
        "response_time_max_passed": true,
        "response_time_stdev_passed": true,
        "response_time_tp99_passed": true,
        "speed_index_passed": false,
        "start_render_passed": true,
        "title_time_passed": true,
        "transaction_rate_passed": true,
        "visual_complete_passed": true
    },
    "webpagetest": {
        "average": {
            "first_view": {
                "first_byte": 225,
                "first_byte_passed": true,
                "first_paint": 1431,
                "first_paint_passed": false,
                "fully_loaded": 1681,
                "fully_loaded_passed": true,
                "last_visual_change": 1685,
                "last_visual_change_passed": true,
                "page_size": 234233,
                "page_size_passed": false,
                "speed_index": 1535,
                "speed_index_passed": true,
                "start_render": 1535,
                "start_render_passed": true,
                "title_time": 490,
                "title_time_passed": true,
                "visual_complete": 1700,
                "visual_complete_passed": true
            },
            "repeat_view": {
                "first_byte": 0,
                "first_byte_passed": true,
                "first_paint": 0,
                "first_paint_passed": true,
                "fully_loaded": 261,
                "fully_loaded_passed": true,
                "last_visual_change": 273,
                "last_visual_change_passed": true,
                "page_size": 10797,
                "page_size_passed": true,
                "speed_index": 201,
                "speed_index_passed": false,
                "start_render": 209,
                "start_render_passed": true,
                "title_time": 12,
                "title_time_passed": true,
                "visual_complete": 267,
                "visual_complete_passed": true
            }
        },
        "runs": [
            {
                "first_view": {
                    "first_byte": 260,
                    "first_byte_passed": true,
                    "first_paint": 1573,
                    "first_paint_passed": false,
                    "fully_loaded": 1844,
                    "fully_loaded_passed": true,
                    "last_visual_change": 1784,
                    "last_visual_change_passed": false,
                    "page_size": 234242,
                    "page_size_passed": false,
                    "speed_index": 1701,
                    "speed_index_passed": true,
                    "start_render": 1684,
                    "start_render_passed": true,
                    "title_time": 485,
                    "title_time_passed": true,
                    "visual_complete": 1800,
                    "visual_complete_passed": true
                },
                "repeat_view": {
                    "first_byte": 0,
                    "first_byte_passed": true,
                    "first_paint": 0,
                    "first_paint_passed": true,
                    "fully_loaded": 232,
                    "fully_loaded_passed": true,
                    "last_visual_change": 213,
                    "last_visual_change_passed": true,
                    "page_size": 10797,
                    "page_size_passed": true,
                    "speed_index": 200,
                    "speed_index_passed": false,
                    "start_render": 213,
                    "start_render_passed": true,
                    "title_time": 0,
                    "title_time_passed": true,
                    "visual_complete": 200,
                    "visual_complete_passed": true
                },
                "run_id": "1"
            },
            {
                "first_view": {
                    "first_byte": 246,
                    "first_byte_passed": true,
                    "first_paint": 1309,
                    "first_paint_passed": false,
                    "fully_loaded": 1606,
                    "fully_loaded_passed": true,
                    "last_visual_change": 1685,
                    "last_visual_change_passed": true,
                    "page_size": 234235,
                    "page_size_passed": false,
                    "speed_index": 1403,
                    "speed_index_passed": true,
                    "start_render": 1385,
                    "start_render_passed": true,
                    "title_time": 483,
                    "title_time_passed": true,
                    "visual_complete": 1700,
                    "visual_complete_passed": true
                },
                "repeat_view": {
                    "first_byte": 0,
                    "first_byte_passed": true,
                    "first_paint": 0,
                    "first_paint_passed": true,
                    "fully_loaded": 213,
                    "fully_loaded_passed": true,
                    "last_visual_change": 183,
                    "last_visual_change_passed": true,
                    "page_size": 10797,
                    "page_size_passed": true,
                    "speed_index": 200,
                    "speed_index_passed": false,
                    "start_render": 183,
                    "start_render_passed": true,
                    "title_time": 36,
                    "title_time_passed": true,
                    "visual_complete": 200,
                    "visual_complete_passed": true
                },
                "run_id": "2"
            },
            {
                "first_view": {
                    "first_byte": 169,
                    "first_byte_passed": true,
                    "first_paint": 1410,
                    "first_paint_passed": false,
                    "fully_loaded": 1593,
                    "fully_loaded_passed": true,
                    "last_visual_change": 1585,
                    "last_visual_change_passed": true,
                    "page_size": 234223,
                    "page_size_passed": false,
                    "speed_index": 1501,
                    "speed_index_passed": true,
                    "start_render": 1536,
                    "start_render_passed": true,
                    "title_time": 501,
                    "title_time_passed": true,
                    "visual_complete": 1600,
                    "visual_complete_passed": true
                },
                "repeat_view": {
                    "first_byte": 0,
                    "first_byte_passed": true,
                    "first_paint": 0,
                    "first_paint_passed": true,
                    "fully_loaded": 339,
                    "fully_loaded_passed": true,
                    "last_visual_change": 423,
                    "last_visual_change_passed": true,
                    "page_size": 10797,
                    "page_size_passed": true,
                    "speed_index": 202,
                    "speed_index_passed": false,
                    "start_render": 232,
                    "start_render_passed": true,
                    "title_time": 0,
                    "title_time_passed": true,
                    "visual_complete": 400,
                    "visual_complete_passed": true
                },
                "run_id": "3"
            }
        ]
    }
}
